.footer-container {
  background-color: var(--primaryB);
  padding: 0 10rem;
}
.footer-container label {
  color: var(--primaryG);
}
.footer-container p {
  color: var(--bgW);
}
.footer-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.svg-center {
  display: flex;
  align-items: baseline;
}
.svg-center svg {
  margin-right: 0.8rem;
  height: 1.5rem;
  width: 1.5rem;
}
.svg-center svg path {
  fill: var(--primaryG);
}
.footer__contacto {
  padding-bottom: 2rem;
  width: 100%;
}
.footer__contacto__dir {
  padding: 0.5rem 0;
  width: 54%;
}
.nav-dir__container {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}