.nav-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-py {
  padding: 2rem 0;
}
.nav__ul-flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
  gap: 1.5rem;
}
.nav__ul-flex a {
  color: var(--bgW);
}
.logo-w {
  width: 10rem;
}
