.nav-footer-flex {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1rem;   */
  width: 55%;
}
.nav-footer__submenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}
/* .nav-footer__submenu ul {
  padding-top: 1rem;
} */
.nav-footer-flex a {
  color: var(--bgW);
}