.footer-container {
  background-color: lightgrey;
  padding: 0 1rem;
}
.footer-container p {
  color: white;
}
.footer__logo {
  margin-left: 8rem;
}
.footer-container-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.svg-center {
  display: flex;
  align-items: center;
}
.footer-container-flex svg {
  margin-right: 1rem;
  width: 0.8rem;
}
.footer-container-flex svg path {
  fill: white;
}
.footer__contacto__dir {
  padding: 0.4rem 0;
}