:root {
  --primaryB: #0F0F0E;
  --primaryG: #03F921;
  --secondaryLight: #97F3F1;
  --secondary: #14D6D2;
  --neutralDGray: #657B7B;
  --neutralGray: #97B0B0;
  --neutralLGray: #C7D7D6;
  --bg01: #F5F4F2;
  --bgW: #F7F9F7;
  --green01: #005743;
  --green02: #00794C;
  --green03: #009A4D;
  --green04: #01DA37;
  --green05: #81FF6E;
  --green06: #C3FFA5;
  --green07: #F0FFDB;
  --success: #0FFAAF;
  --success01: #A0FFE1;
  --warning: #F9EE28;
  --warning01: #FFFAA9;
  --error: #FA491B;
  --error01: #FFAB95;
  --gradient01: linear-gradient(-235deg, #000000, #171717, #4F4F4E, #000000);
  --gradient02: linear-gradient(170deg, #03F921, #16D2E6);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, Libre Franklin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4 {
  font-family: Inter;
  font-weight: bold;
  letter-spacing: 1%;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.37rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
label {
  font-family: Libre Franklin;
  font-size: 1.25rem;
  font-weight: bold;
}
a, p {
  font-family: Libre Franklin;
  font-size: 1rem;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
